/* SMALLER VIEWPORTS */
.social-link { 
	position: relative;
  text-decoration: none;
}

.social-link a {
	position: relative;
  max-width: 5vh;
}

.social-link img {
	position: relative;
	padding: 0.5vh;
	border-radius: 50%;
	opacity: 0.7;
	max-width: 2rem;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

.social-link img:hover {
	opacity: 1;
}

/* LARGER VIEWPORTS */
@media (min-width: 680px) {
  .social-link {
  	justify-content: center;
  }

  .social-link a {
    text-decoration: none;
  	position: relative;
  }

  .social-link img {
  	padding: 0.5vh;
  	display: inline-block;
  	border-radius: 50%;
  	opacity: 0.7;
  	max-width: 2rem;
  	-webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  }

  .social-link img:hover {
  	opacity: 1;
  }

}
