* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--my-black);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-footer {
  background: var(--my-var);
  flex: 0 0 auto;
}

/* SMALLER VIWEPORTS */
.row-flex {
  width: 100%;
}

.primary-sidebar {
  background: var(--my-black);
  position: relative;
  width: 100%;
} 

.secondary-sidebar {
  background: var(--my-black);
  position: relative;
  width: 100%;
}

.main-header {
  margin: 2vh;
  background: var(--my-black);
  color: var(--my-blue);
  flex: 0 0 auto;
  font-size: 6vh;
  font-family: Arial;
  height: auto;
}

.main-footer {
  background: var(--my-var);
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(transparent));
  background-color: var(--my-sepia);
  margin-left: 2%;
  margin-right: 2%;
}

.content p.paragraph-text {
  color: var(--my-gray);
  font-family: 'Helvetica', cursive;
  padding-bottom: 1vh;
}

.content p.paragraph-text:after {
  content:" ";
  display: inline-block;
  vertical-align:bottom;
  height: 1px;
  width: 100%;
  background: var(--my-white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,0,1)), to(transparent));
}



/* LARGER VIEWPORTS: Laptops, Desktops*/
@media (min-width: 680px) {

  .row-flex {
    flex: 1 1 auto;
    display: flex;
  }

  .main-header {
    margin: 2vh;
    background: var(--my-black);
    color: var(--my-blue);
    flex: 0 0 auto;
    font-size: 8vh;
    font: sans-serif;
    font-family: Helvetica;
    height: auto;
  }

  .main-footer {
    background: var(--my-var);
    flex: 0 0 auto;
  }

  .primary-sidebar {
    background: var(--my-black);
    position: fixed;
    width: 10%;
    left: 0;
  }

  .secondary-sidebar {
    background: var(--my-black);
    position: fixed;
    width: 5%;
    right: 0;
  }

  .content {
    flex: 1 1 auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(transparent));
    background-color: var(--my-sepia);
    margin-left: 10%;
    margin-right: 10%;
  }

  .content p.paragraph-text {
    color: var(--my-gray);
    font-family: 'Helvetica', cursive;
    padding-bottom: 1vh;
  }

  .content p.paragraph-text:after {
    content:" ";
    display: inline-block;
    vertical-align:bottom;
    height: 1px;
    width: 100%;
    background: var(--my-white);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,0,0,1)), to(transparent));
  }
}

