<div class="row-flex">

	<div class="blurb-links">
		
		<p class="paragraph-text"> Check out my public events and performances here! </p>

		<div class="responsive-iframe-container big-container">
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23663333&amp;src=ci1bs307bpkgnhudh61q2qhhik%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=America%2FNew_York&amp;" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>

		<div class="responsive-iframe-container small-container">
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23663333&amp;src=ci1bs307bpkgnhudh61q2qhhik%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=America%2FNew_York&amp;mode=AGENDA&amp;" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>

	</div>

</div>