<div class="row-flex">

	<div class="blurb-links">

		<p class="paragraph-text"> 
			 Coming Soon: I'll be presenting my novel at the Unitarian Church in Charleston on April 7, 10am. Come and check it out, and support myself and fellow local authors! Link to events page below:
		</p>

		<a class="blurb-link" href="/events"> Events
		</a>

		<p class="paragraph-text"> 
			Please check out my music, novel, events and blog while you're here.
		</p>

		<% for (i=0 ; i<mainUrls.length ; i++) { %>
		  <a class="blurb-link" href="<%= mainUrls[i].url %>">
		    <%= mainUrls[i].shortname %>
		  </a>
		<% } %>
		
	</div>

	<div class="pic">
		<img src="/images/me_at_piano.jpg" />
	</div>



</div>