<div class="row-flex">

	<div class="blurb-links">
		<div>
		<% for (i=0 ; i<musicUrls.length ; i++) { %>
		  
		  <a class="social-link" href="<%= musicUrls[i].url %>">
		  	<!-- %= musicUrls[i].shortname % -->
		  	<img src="/images/streaming/<%= musicUrls[i].imagefile %>" />
		  </a>
	
		<% } %>
	  	</div>
	  	
		<p class="paragraph-text"> 
			Welcome to my music page! Click the above links to listen on streaming services above.  
		</p>

		<a class="blurb-link" href="/music/Ghosts Of Charleston Master v3.mp3"> 
			Ghosts of Charleston
		</a>	
		<p class="paragraph-text"> 
			Ghosts of Charleston tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.  
		</p>

		<a class="blurb-link" href="/music/Make Me Home FINAL.mp3">
			Make Me Home
		</a>	
		<p class="paragraph-text"> 
			Make Me Home is a ballad with three perspectives: beach, country, and mountain. Although different places, the message is the same: residence is wherever love resides.  
		</p>

		<a class="blurb-link" href="/music/Work The Love FINAL.mp3">
			Work the Love
		</a>
		<p class="paragraph-text"> 
			Work the Love reminds us that in real life, there are no superheroes or superpowers. There are no shortcuts to a better world, and genuine love takes hard work, persistence, and patience.   
		</p>

	</div>

	<div class="pic">
		<img src="/images/me_at_piano.jpg" />
	</div>



</div>