<div class="row-flex">

	<div class="blurb-links">

		<% for (i=0 ; i<musicUrls.length ; i++) { %>
		  <a class="blurb-link" href="<%= musicUrls[i].url %>">
		    <%= musicUrls[i].shortname %>
		  </a>
		<% } %>

		<p class="paragraph-text"> 
			Welcome to my music page! Click the above links to listen on streaming services...  
		</p>

		<a class="blurb-link" href="/music/Ghosts Of Charleston Master v3.mp3"> 
			Ghosts of Charleston
		</a>	
		<a class="blurb-link" href="/music/Make Me Home FINAL.mp3">
			Make Me Home
		</a>	
		<a class="blurb-link" href="/music/Work The Love FINAL.mp3">
			Work the Love
		</a>

		<p class="paragraph-text"> 
			Or download music files here directly.  
		</p>

	</div>

	<div class="pic">
		<img src="/images/me_at_piano.jpg" />
	</div>



</div>