<div class="row-flex">

	<div class="blurb-links">
		<!--div>
		<% for (i=0 ; i<musicUrls.length ; i++) { %>
		  
		  <a class="social-link" href="<%= musicUrls[i].url %>">
		  	<img src="/images/streaming/<%= musicUrls[i].imagefile %>" />
		  </a>
	
		<% } %>
	  	</div-->

	  	<a class="blurb-link" href="https://marckruza.hearnow.com/"> 
	  		Ghosts of Charleston on Streaming Services
	  	</a>	  	
		<p class="paragraph-text"> 
			Check out my new single, Ghosts of Charleston, on Spotify, Deezer, CDBaby, and other streaming services. It tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.   
		</p>


		<a class="blurb-link" href="/music/Homecoming.mp3"> 
			Homecoming
		</a>	
		<p class="paragraph-text"> 
			Ghosts of Charleston tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.  
		</p>


		<a class="blurb-link" href="/music/Make Me Home.mp3">
			Make Me Home
		</a>	
		<p class="paragraph-text"> 
			Make Me Home is a ballad with three perspectives: beach, country, and mountain. Although different places, the message is the same: residence is wherever love resides.  
		</p>

		<a class="blurb-link" href="/music/Work The Love.mp3">
			Work the Love
		</a>
		<p class="paragraph-text"> 
			Work the Love reminds us that in real life, there are no superheroes or superpowers. There are no shortcuts to a better world, and genuine love takes hard work, persistence, and patience.   
		</p>

		<a class="blurb-link" href="/music/Ghosts Of Charleston Master.mp3"> 
			Ghosts of Charleston
		</a>	
		<p class="paragraph-text"> 
			Ghosts of Charleston tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.  
		</p>
		<p class="paragraph-text"> 
			Lyrics:

			Verse 1
			Some folks tonight went out and hit the town
			And gazed west to watch the sky turn red.
			But I, unarmed, had blue lights chase me down
			Ran for my life, and the law shot me dead.
			The living watched the news in disbelief
			In a stew of anger, pain and grief.
			Their anguished voices echoed to the sky,
			But silence is the voice of those who die.

			Chorus
			Oh, Charleston, my bittersweet city,
			You've taken my life and broken my heart.
			Music and art, and beaches were so pretty,
			But oh, Charleston, why did this have to be?
			Remember my city, to please remember me.

			Verse 2
			Some folks toured the town and drank some wine,
			A perfect day, they drank iced tea and ate.
			But we a bible study group of nine
			Were shot dead by a man of icy hate.
			The living watched the news and pondered how
			The devils of the past still haunt us now.
			Their anguished voices echoed to the sky,
			But silence is the voice of those who die

			Repeat Chorus

			Bridge
			We call from the grave
			Don't wait 'till tomorrow.
			Speak out be brave
			Don't marinate in sorrow.
			Don't just turn a page
			Write a new story.
			Take the stage
			For there is no glory
			If just some are free.
			This must be your call
			 Justice for all, 
			for all, for all.

			Final Chorus
			Oh, Charleston, my bittersweet city,
			You've taken my life and broken my heart.
			Music and art, and beaches were so pretty,
			But oh, Charleston, why did this have to be?
			Remember my city, please remember me.
			Remember my city, 
			please remember 
			me.  
		</p>

	</div>

	<div class="pic">
		<img src="/images/me_at_piano.jpg" />
	</div>

</div>