<div class="row-flex">

	<div class="blurb-links">

		<% for (i=0 ; i<mainUrls.length ; i++) { %>
		  <a class="blurb-link" href="<%= musicUrls[i].url %>">
		    <%= mainUrls[i].shortname %>
		  </a>
		<% } %>

		<p class="paragraph-text"> 
			Welcome to my music page! Follow the links and listen on multiple streaming services. Many thanks to the amazing engineers and musicians at Endangered Wisemen Studios, also linked below.  
		</p>
		
	</div>

	<div class="pic">
		<img src="/images/novel_cover_lowrez.jpg" />
	</div>



</div>