<div class="row-flex">

	<div class="blurb-links">
		<!--div>
		<% for (i=0 ; i<musicUrls.length ; i++) { %>
		  
		  <a class="social-link" href="<%= musicUrls[i].url %>">
		  	<img src="/images/streaming/<%= musicUrls[i].imagefile %>" />
		  </a>
	
		<% } %>
	  	</div-->

	  	<a class="blurb-link" href="https://marckruza.hearnow.com/"> 
	  		Ghosts of Charleston on Streaming Services
	  	</a>	  	
		<p class="paragraph-text"> 
			Check out my new single, Ghosts of Charleston, on Spotify, Deezer, CDBaby, and other streaming services. It tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.   
		</p>

		<a class="blurb-link" href="/music/Homecoming.mp3"> 
			Homecoming
		</a>	
		<p class="paragraph-text"> 
			Ghosts of Charleston tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.  
		</p>

		<a class="blurb-link" href="/music/Make-Me-Home.mp3">
			Make Me Home
		</a>	
		<p class="paragraph-text"> 
			Make Me Home is a ballad with three perspectives: beach, country, and mountain. Although different places, the message is the same: residence is wherever love resides.  
		</p>

		<a class="blurb-link" href="/music/Work-The-Love.mp3">
			Work the Love
		</a>
		<p class="paragraph-text"> 
			Work the Love reminds us that in real life, there are no superheroes or superpowers. There are no shortcuts to a better world, and genuine love takes hard work, persistence, and patience.   
		</p>

		<a class="blurb-link" href="/music/Ghosts-Of-Charleston.mp3"> 
			Ghosts of Charleston
		</a>	
		<p class="paragraph-text"> 
			Ghosts of Charleston tells the tragedy of the Emanuel Nine and Walter Scott from the perspective of the victims who are no longer among the living and call on the living for remembrance and justice.  
		</p>

		<a class="blurb-link" href=""> 
			Ghosts of Charleston Lyrics
		</a>	

		<p class="paragraph-text">
			Verse 1 <br>
			Some folks tonight went out and hit the town <br>
			And gazed west to watch the sky turn red. <br>
			But I, unarmed, had blue lights chase me down <br>
			Ran for my life, and the law shot me dead. <br>
			The living watched the news in disbelief <br>
			In a stew of anger, pain and grief. <br>
			Their anguished voices echoed to the sky, <br>
			But silence is the voice of those who die. <br>
		</p>
		<p class="paragraph-text">
			Chorus <br>
			Oh, Charleston, my bittersweet city, <br>
			You've taken my life and broken my heart. <br>
			Music and art, and beaches were so pretty, <br>
			But oh, Charleston, why did this have to be? <br>
			Remember my city, to please remember me. <br>
		</p>
		<p class="paragraph-text">
			Verse 2 <br>
			Some folks toured the town and drank some wine, <br>
			A perfect day, they drank iced tea and ate. <br>
			But we a bible study group of nine <br>
			Were shot dead by a man of icy hate. <br>
			The living watched the news and pondered how <br>
			The devils of the past still haunt us now. <br>
			Their anguished voices echoed to the sky, <br>
			But silence is the voice of those who die <br>
		</p>
		<p class="paragraph-text">
			Repeat Chorus <br>
		</p>
		<p class="paragraph-text">
			Bridge <br>
			We call from the grave <br>
			Don't wait 'till tomorrow. <br>
			Speak out be brave <br>
			Don't marinate in sorrow. <br>
			Don't just turn a page <br>
			Write a new story. <br>
			Take the stage <br>
			For there is no glory <br>
			If just some are free. <br>
			This must be your call <br>
			Justice for all, <br>
			for all, for all. <br>
		</p>
		<p class="paragraph-text">
			Final Chorus <br>
			Oh, Charleston, my bittersweet city, <br>
			You've taken my life and broken my heart. <br>
			Music and art, and beaches were so pretty, <br>
			But oh, Charleston, why did this have to be? <br>
			Remember my city, please remember me. <br>
			Remember my city, please remember me.  
		</p>

	</div>

	<div class="pic">
		<img src="/images/me_at_piano.jpg" />
	</div>

</div>